<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Elearn project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>
<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->
        <div class="top_bar">
            <div class="top_bar_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <ul class="top_bar_contact_list">
                                    <li><div class="question">Have any questions?</div></li>
                                    <li>
                                        <div>(009) 35475 6688933 32</div>
                                    </li>
                                    <li>
                                        <div>info@elaerntemplate.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <a href="{{ path('elearn') }}">
                                    <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                        <div class="logo_img"><img src="{{ asset('images/logo.png') }}" " alt=""></div>
                                        <div class="logo_text">learn</div>
                                    </div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">
                                    <li class="{{ navbar.active1 }}" ><a {{ navbar.menu1link|raw }}>{{ navbar.menu1 }}</a></li>
                                    <li class="{{ navbar.active2 }}" ><a {{ navbar.menu2link|raw }}>{{ navbar.menu2 }}</a></li>
                                    <li class="{{ navbar.active3 }} "><a {{ navbar.menu3link|raw }}>{{ navbar.menu3 }}</a></li>
                                    <li class="{{ navbar.active4 }} "><a {{ navbar.menu4link|raw }}>{{ navbar.menu4 }}</a></li>
                                    <li class="{{ navbar.active5 }} "><a {{ navbar.menu5link|raw }}>{{ navbar.menu5 }}</a></li>

                                    {% block logged_user %} {% endblock %}
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





{% block body %}{% endblock %}

            <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_about">
                        <div class="logo_container">
                            <a href="#">
                                <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                    <div class="logo_img"><img src="{{ asset('images/logo.png') }}" alt=""></div>
                                    <div class="logo_text">learn</div>
                                </div>
                            </a>
                        </div>
                        <div class="footer_about_text">
                        </div>

                        <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>
